extends layout

block content
    h1.
        Food List
    div
      form#formFilter(name="form-filter", method="get", action="/foodlist/search")
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='Refine Search') Search by Food Name
               input(id='email',type='text',value='',placeholder='query',name='filter')
            div(data-role='fieldcontain')
               input(type='submit',value='filter',data-transition='fade', data-theme='c')
      ul#items
          each food, i in foodlist
                  if i < 100
                      li
                          p= food.Short_Desc
      ul#buttons
        li: a(href='/foodlist/Butter') Butter
        li: a(href='/foodlist/Chocolate') Chocolate
        li: a(href='/foodlist/Milk') Milk
        li: a(href='/foodlist/Cheese') Cheese
        li: a(href='/foodlist/MajorGroup/Dairy%20and%20Egg') Dairy and Eggs
        li: a(href='/foodlist/Chocolate') Chocolate
        li: a(href='/foodlist/Milk') Milk
        li: a(href='/foodlist/Cheese') Cheese
