body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul#items {
  height: 400px;
  width: 500px;
  overflow-y: scroll;
}

div#main {
  width: 600px;
  float:left;
}
.chart {
  float: right;
}


.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: red;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.ui-autocomplete {
  overflow-y:scroll;
  overflow-x:none;
  max-height:600px;
}
